<div class="container table-responsive">
    <div class="row" style="margin-top: 10%;">
        <table class="table ">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Dirección</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            {{#each users}}
            <tbody>
                <tr>
                    <td></td>
                    <td>{{first_name}}</td>
                    <td>{{last_name}}</td>
                    <td>{{address}}</td>
                    <td><a class="btn btn-primary btn-rounded" href="/users/edit/{{_id}}">Editar</a></td>
                    <td>
                        <form action="/users/delete/{{_id}}?_method=DELETE" method="POST"
                            class="form-check form-check-inline">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger btn-rounded">Eliminar</button>
                        </form>
                    </td>
                </tr>
            </tbody>
            {{/each}}
        </table>
    </div>
</div>

<!---
<div class="container" id="product-cards">
    <div class="row" style="margin-top: 30px;">
        {{#each users}}
        <div class="col-md-3 py-3 py-md-0">
            <div class="card-shop animated-card">
                <img src="/icon/user.png" class="img-fluid" alt="">
                <div class="card-body">
                    <h3>{{first_name}} </h3>
                    <p>{{last_name}}</p>
                    <h5>{{address}}</h5>
                    <input type="hidden" name="id_producto_carrito" value="">
                    <input type="hidden" name="nombre_producto_carrito" value="">
                    <input type="hidden" name="precio_producto_carrito" value="">
                    <a class="btn btn-primary btn-rounded" href="/users/edit/{{_id}}">Editar</a>
                    <form action="/users/delete/{{_id}}?_method=DELETE" method="POST"
                        class="form-check form-check-inline">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger btn-rounded">Eliminar</button>
                    </form>
                    comentado <button type="button" class="btn btn-dark btn-rounded">Agregar al carrito</button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
-->